
SPA Data/DHS/Tanzania/TZHR7BSD/TZHR7BFL.SAS7BDAT
SPA Data/DHS/Tanzania/TZHR7BSD/TZHR7BFL.SAS
SPA Data/DHS/Tanzania/TZHR7BSD/TZHR7BFL.MAP
SPA Data/DHS/Tanzania/TZHR7BSD/TZHR7BFL.FRW
SPA Data/DHS/Tanzania/TZHR7BSD/TZHR7BFL.FRQ
SPA Data/DHS/Tanzania/TZGE7AFL/TZGE7AFL.shx
SPA Data/DHS/Tanzania/TZGE7AFL/TZGE7AFL.shp.xml
SPA Data/DHS/Tanzania/TZGE7AFL/TZGE7AFL.shp
SPA Data/DHS/Tanzania/TZGE7AFL/TZGE7AFL.sbx
SPA Data/DHS/Tanzania/TZGE7AFL/TZGE7AFL.sbn
SPA Data/DHS/Tanzania/TZGE7AFL/TZGE7AFL.prj
SPA Data/DHS/Tanzania/TZGE7AFL/TZGE7AFL.dbf
SPA Data/DHS/Tanzania/TZGE7AFL/TZGE7AFL.cpg
SPA Data/DHS/Tanzania/TZGE7AFL/GPS_Displacement_README.txt
SPA Data/DHS/Tanzania/TZGE7AFL/DHS_README.txt
SPA Data/DHS/Tanzania/TZGC7BFL/TZGC7BFL.csv
SPA Data/DHS/Tanzania/TZGC7BFL/DHS Covariates Extract Data Description 2.pdf
SPA Data/DHS/Senegal 2016/SNHR7ISD/SNHRG0SD.ZIP
SPA Data/DHS/Senegal 2016/SNHR7ISD/SNHR7ISD.ZIP
SPA Data/DHS/Senegal 2016/SNHR7ISD/SNHR7IFL.SAS7BDAT
SPA Data/DHS/Senegal 2016/SNHR7ISD/SNHR7IFL.SAS
SPA Data/DHS/Senegal 2016/SNHR7ISD/SNHR7IFL.MAP
SPA Data/DHS/Senegal 2016/SNHR7ISD/SNHR7IFL.FRW
SPA Data/DHS/Senegal 2016/SNHR7ISD/SNHR7IFL.FRQ
SPA Data/DHS/Senegal 2016/SNGE7IFL/SNGE7IFL.shx
SPA Data/DHS/Senegal 2016/SNGE7IFL/SNGE7IFL.shp.xml
SPA Data/DHS/Senegal 2016/SNGE7IFL/SNGE7IFL.shp
SPA Data/DHS/Senegal 2016/SNGE7IFL/SNGE7IFL.sbx
SPA Data/DHS/Senegal 2016/SNGE7IFL/SNGE7IFL.sbn
SPA Data/DHS/Senegal 2016/SNGE7IFL/SNGE7IFL.prj
SPA Data/DHS/Senegal 2016/SNGE7IFL/SNGE7IFL.dbf
SPA Data/DHS/Senegal 2016/SNGE7IFL/SNGE7IFL.CPG
SPA Data/DHS/Senegal 2016/SNGE7IFL/GPS_Displacement_README.txt
SPA Data/DHS/Senegal 2016/SNGE7IFL/DHS_README.txt
SPA Data/DHS/Senegal 2016/SNGC7JFL/SNGC7JFL.csv
SPA Data/DHS/Senegal 2016/SNGC7JFL/DHS Covariates Extract Data Description 2.pdf
SPA Data/DHS/Senegal 2015/SNHR7HSD/SNHR7HFL.SAS7BDAT
SPA Data/DHS/Senegal 2015/SNHR7HSD/SNHR7HFL.SAS
SPA Data/DHS/Senegal 2015/SNHR7HSD/SNHR7HFL.MAP
SPA Data/DHS/Senegal 2015/SNHR7HSD/SNHR7HFL.FRW
SPA Data/DHS/Senegal 2015/SNHR7HSD/SNHR7HFL.FRQ
SPA Data/DHS/Senegal 2015/SNGE7AFL/SNGE7AFL.shx
SPA Data/DHS/Senegal 2015/SNGE7AFL/SNGE7AFL.shp.xml
SPA Data/DHS/Senegal 2015/SNGE7AFL/SNGE7AFL.shp
SPA Data/DHS/Senegal 2015/SNGE7AFL/SNGE7AFL.sbx
SPA Data/DHS/Senegal 2015/SNGE7AFL/SNGE7AFL.sbn
SPA Data/DHS/Senegal 2015/SNGE7AFL/SNGE7AFL.prj
SPA Data/DHS/Senegal 2015/SNGE7AFL/SNGE7AFL.dbf
SPA Data/DHS/Senegal 2015/SNGE7AFL/SNGE7AFL.cpg
SPA Data/DHS/Senegal 2015/SNGE7AFL/GPS_Displacement_README.txt
SPA Data/DHS/Senegal 2015/SNGE7AFL/DHS_README.txt
SPA Data/DHS/Senegal 2015/SNGC7BFL/SNGC7BFL.csv
SPA Data/DHS/Senegal 2015/SNGC7BFL/DHS Covariates Extract Data Description 2.pdf
SPA Data/DHS/Senegal 2014/SNHR70SD/SNHR70FL.SAS7BDAT
SPA Data/DHS/Senegal 2014/SNHR70SD/SNHR70FL.SAS
SPA Data/DHS/Senegal 2014/SNHR70SD/SNHR70FL.MAP
SPA Data/DHS/Senegal 2014/SNHR70SD/SNHR70FL.FRW
SPA Data/DHS/Senegal 2014/SNHR70SD/SNHR70FL.FRQ
SPA Data/DHS/Senegal 2014/SNGE71FL/SNGE71FL.zip
SPA Data/DHS/Senegal 2014/SNGE71FL/SNGE71FL.shx
SPA Data/DHS/Senegal 2014/SNGE71FL/SNGE71FL.shp.xml
SPA Data/DHS/Senegal 2014/SNGE71FL/SNGE71FL.shp
SPA Data/DHS/Senegal 2014/SNGE71FL/SNGE71FL.sbx
SPA Data/DHS/Senegal 2014/SNGE71FL/SNGE71FL.sbn
SPA Data/DHS/Senegal 2014/SNGE71FL/SNGE71FL.prj
SPA Data/DHS/Senegal 2014/SNGE71FL/SNGE71FL.dbf
SPA Data/DHS/Senegal 2014/SNGE71FL/SNGE71FL.cpg
SPA Data/DHS/Senegal 2014/SNGE71FL/SNGE6RFL.zip
SPA Data/DHS/Senegal 2014/SNGE71FL/GPS_Displacement_README.txt
SPA Data/DHS/Senegal 2014/SNGE71FL/DHS_README.txt
SPA Data/DHS/Senegal 2014/SNGC72FL/SNGC72FL.csv
SPA Data/DHS/Senegal 2014/SNGC72FL/DHS Covariates Extract Data Description 2.pdf
SPA Data/DHS/Senegal 2012/SNHR6DSD/SNHR6DFL.SAS7BDAT
SPA Data/DHS/Senegal 2012/SNHR6DSD/SNHR6DFL.SAS
SPA Data/DHS/Senegal 2012/SNHR6DSD/SNHR6DFL.MAP
SPA Data/DHS/Senegal 2012/SNHR6DSD/SNHR6DFL.FRW
SPA Data/DHS/Senegal 2012/SNHR6DSD/SNHR6DFL.FRQ
SPA Data/DHS/Senegal 2012/SNGE6AFL/SNGE6AFL.shx
SPA Data/DHS/Senegal 2012/SNGE6AFL/SNGE6AFL.shp.xml
SPA Data/DHS/Senegal 2012/SNGE6AFL/SNGE6AFL.shp
SPA Data/DHS/Senegal 2012/SNGE6AFL/SNGE6AFL.sbx
SPA Data/DHS/Senegal 2012/SNGE6AFL/SNGE6AFL.sbn
SPA Data/DHS/Senegal 2012/SNGE6AFL/SNGE6AFL.prj
SPA Data/DHS/Senegal 2012/SNGE6AFL/SNGE6AFL.dbf
SPA Data/DHS/Senegal 2012/SNGE6AFL/SNGE6AFL.cpg
SPA Data/DHS/Senegal 2012/SNGE6AFL/GPS_Displacement_README.txt
SPA Data/DHS/Senegal 2012/SNGE6AFL/DHS_README.txt
SPA Data/DHS/Senegal 2012/SNGC6BFL/SNGC6BFL.csv
SPA Data/DHS/Senegal 2012/SNGC6BFL/DHS Covariates Extract Data Description 2.pdf
SPA Data/DHS/Nepal/NPHR7HSD/NPHR7HFL.SAS7BDAT
SPA Data/DHS/Nepal/NPHR7HSD/NPHR7HFL.SAS
SPA Data/DHS/Nepal/NPHR7HSD/NPHR7HFL.MAP
SPA Data/DHS/Nepal/NPHR7HSD/NPHR7HFL.FRW
SPA Data/DHS/Nepal/NPHR7HSD/NPHR7HFL.FRQ
SPA Data/DHS/Nepal/NPGE7AFL/NPGE7AFL.shx
SPA Data/DHS/Nepal/NPGE7AFL/NPGE7AFL.shp.xml
SPA Data/DHS/Nepal/NPGE7AFL/NPGE7AFL.shp
SPA Data/DHS/Nepal/NPGE7AFL/NPGE7AFL.sbx
SPA Data/DHS/Nepal/NPGE7AFL/NPGE7AFL.sbn
SPA Data/DHS/Nepal/NPGE7AFL/NPGE7AFL.prj
SPA Data/DHS/Nepal/NPGE7AFL/NPGE7AFL.dbf
SPA Data/DHS/Nepal/NPGE7AFL/NPGE7AFL.CPG
SPA Data/DHS/Nepal/NPGE7AFL/GPS_Displacement_README.txt
SPA Data/DHS/Nepal/NPGE7AFL/DHS_README.txt
SPA Data/DHS/Nepal/NPGC7BFL/NPGC7BFL.csv
SPA Data/DHS/Nepal/NPGC7BFL/DHS Covariates Extract Data Description 2.pdf
SPA Data/DHS/Malawi/MWHR7ASD/MWHR7AFL.SAS7BDAT
SPA Data/DHS/Malawi/MWHR7ASD/MWHR7AFL.SAS
SPA Data/DHS/Malawi/MWHR7ASD/MWHR7AFL.MAP
SPA Data/DHS/Malawi/MWHR7ASD/MWHR7AFL.FRW
SPA Data/DHS/Malawi/MWHR7ASD/MWHR7AFL.FRQ
SPA Data/DHS/Malawi/MWGE7AFL/MWGE7AFL.shx
SPA Data/DHS/Malawi/MWGE7AFL/MWGE7AFL.shp.xml
SPA Data/DHS/Malawi/MWGE7AFL/MWGE7AFL.shp
SPA Data/DHS/Malawi/MWGE7AFL/MWGE7AFL.sbx
SPA Data/DHS/Malawi/MWGE7AFL/MWGE7AFL.sbn
SPA Data/DHS/Malawi/MWGE7AFL/MWGE7AFL.prj
SPA Data/DHS/Malawi/MWGE7AFL/MWGE7AFL.dbf
SPA Data/DHS/Malawi/MWGE7AFL/MWGE7AFL.CPG
SPA Data/DHS/Malawi/MWGE7AFL/GPS_Displacement_README.txt
SPA Data/DHS/Malawi/MWGE7AFL/DHS_README.txt
SPA Data/DHS/Malawi/MWGC7BFL/MWGC7BFL.csv
SPA Data/DHS/Malawi/MWGC7BFL/DHS Covariates Extract Data Description 2.pdf
SPA Data/DHS/Haiti/HTHR71SD/HTHR71FL.SAS7BDAT
SPA Data/DHS/Haiti/HTHR71SD/HTHR71FL.SAS
SPA Data/DHS/Haiti/HTHR71SD/HTHR71FL.MAP
SPA Data/DHS/Haiti/HTHR71SD/HTHR71FL.FRW
SPA Data/DHS/Haiti/HTHR71SD/HTHR71FL.FRQ
SPA Data/DHS/Haiti/HTGE71FL/HTGE71FL.shx
SPA Data/DHS/Haiti/HTGE71FL/HTGE71FL.shp.xml
SPA Data/DHS/Haiti/HTGE71FL/HTGE71FL.shp
SPA Data/DHS/Haiti/HTGE71FL/HTGE71FL.sbx
SPA Data/DHS/Haiti/HTGE71FL/HTGE71FL.sbn
SPA Data/DHS/Haiti/HTGE71FL/HTGE71FL.prj
SPA Data/DHS/Haiti/HTGE71FL/HTGE71FL.dbf
SPA Data/DHS/Haiti/HTGE71FL/HTGE71FL.cpg
SPA Data/DHS/Haiti/HTGE71FL/GPS_Displacement_README.txt
SPA Data/DHS/Haiti/HTGE71FL/DHS_README.txt
SPA Data/DHS/Haiti/HTGC72FL/HTGC72FL.csv
SPA Data/DHS/Haiti/HTGC72FL/DHS Covariates Extract Data Description 2.pdf
SPA Data/DHS/DRC/CDHR61SD/CDHR61FL.SAS7BDAT
SPA Data/DHS/DRC/CDHR61SD/CDHR61FL.SAS
SPA Data/DHS/DRC/CDHR61SD/CDHR61FL.MAP
SPA Data/DHS/DRC/CDHR61SD/CDHR61FL.FRW
SPA Data/DHS/DRC/CDHR61SD/CDHR61FL.FRQ
SPA Data/DHS/DRC/CDGE61FL/GPS_Displacement_README.txt
SPA Data/DHS/DRC/CDGE61FL/DHS_README.txt
SPA Data/DHS/DRC/CDGE61FL/CDGE61FL.shx
SPA Data/DHS/DRC/CDGE61FL/CDGE61FL.shp.xml
SPA Data/DHS/DRC/CDGE61FL/CDGE61FL.shp
SPA Data/DHS/DRC/CDGE61FL/CDGE61FL.sbx
SPA Data/DHS/DRC/CDGE61FL/CDGE61FL.sbn
SPA Data/DHS/DRC/CDGE61FL/CDGE61FL.prj
SPA Data/DHS/DRC/CDGE61FL/CDGE61FL.dbf
SPA Data/DHS/DRC/CDGE61FL/CDGE61FL.cpg
SPA Data/DHS/DRC/CDGE61FL/Altitude_Note.txt
SPA Data/DHS/DRC/CDGC62FL/DHS Covariates Extract Data Description 2.pdf
SPA Data/DHS/DRC/CDGC62FL/CDGC62FL.csv
SPA Data/DHS/BD_2014_DHS_12072020_1917_150437/TZ_2015-16_DHS_03102021_224_150437.zip
SPA Data/DHS/BD_2014_DHS_12072020_1917_150437/SN_2019_ContinuousDHS_03102021_221_150437.zip
SPA Data/DHS/BD_2014_DHS_12072020_1917_150437/SN_2018_ContinuousDHS_03102021_221_150437.zip
SPA Data/DHS/BD_2014_DHS_12072020_1917_150437/SN_2017_ContinuousDHS_03102021_222_150437.zip
SPA Data/DHS/BD_2014_DHS_12072020_1917_150437/SN_2015_ContinuousDHS_03102021_222_150437.zip
SPA Data/DHS/BD_2014_DHS_12072020_1917_150437/SN_2014_ContinuousDHS_03102021_227_150437.zip
SPA Data/DHS/BD_2014_DHS_12072020_1917_150437/SN_2012-13_ContinuousDHS_03102021_226_150437.zip
SPA Data/DHS/BD_2014_DHS_12072020_1917_150437/NP_2016_DHS_03102021_220_150437.zip
SPA Data/DHS/BD_2014_DHS_12072020_1917_150437/MW_2015-16_DHS_03102021_218_150437.zip
SPA Data/DHS/BD_2014_DHS_12072020_1917_150437/HT_2016-17_DHS_03102021_216_150437.zip
SPA Data/DHS/BD_2014_DHS_12072020_1917_150437/BDGE71FL/GPS_Metadata_Template.xml
SPA Data/DHS/BD_2014_DHS_12072020_1917_150437/BDGE71FL/GPS_Displacement_README.txt
